@media (max-width: 992px) {
    .container{    
        width: 720px;
    }
    header{
        height: 500px;
    }
    .header-container {
        width: 700px;
    }
    .ya-button{
        width: 70%;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
    }
    section{
        font-size: 20px;
    }
    h2{
        font-size: 28px;
    }
    h2::after{
        height: 6px;
    }
    .descript-h2 h2::after{    
        top: -15px;
    }
    h2,
    .descript-h2,
    .descript-p span:nth-child(2){
        margin-bottom: 30px;
    }
    .descript-text{
        width: 70%; 
        margin-right: 20px;
    }
    .descript-p p{
        margin-bottom: 5px;
    }
    .descript-p p{
        line-height: 30px;
    }
    .descript-p span{
        font-size: 18px;
        line-height: 24px;
    }
    .law h2::after{    
        top: -15px;
    }
    .law-text,
    .law-offer{
        text-align: center;
        line-height: 120%;
        padding: 80px 20px;
    }
    .law-text{
        background-color: var(--dg-text);
        width: 60%;
        padding: 1px;
    }
    .law-text p{
        margin-bottom: 40px;
        padding: 0 40px;
    }
    .law-offer p{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 110%;
    }
    .law-offer h3{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .in_half h2::after{
        height: 6px;
        bottom: -15px;
    }
    .in_half-text {
        padding: 20px;
    }
    .in_half-text ul{
        margin: 0;
    }
    .in_half-text ul li{
        font-size: 18px;
    }
    .purchase .in_half-text ul{
        margin: 0;
    }
    .purchase .in_half-text ul li{
        font-size: 18px;
    }
    .step ol li span{
        line-height: 30px;
    }
    .step ol li{
        width: 42%;
        font-size: 18px;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
        line-height: 22px;
    }
    .step ol li i{
        letter-spacing: 0px;
    }
    .income-text .demo-descript-ul{
        font-size: 16px;
    }
    .income-text{ 
        margin-bottom: 20px;
    }
    .income-text .demo-active{
        padding-left: 20px;
    }
    .income-text .demo-active h3{
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 30px;
    }
    .income-text .demo-active span{
        font-size: 20px;
    }
    .social-logo{
        padding: 50px 20px;
    }
    .social-logo h2::after{
        bottom: -15px;
    }
    .social-links{ 
        padding: 100px 30px;
        gap: 50px;
    }
    .social-link a img{
        width: 100px;
        margin-right: 20px;
    }
    .social-link a .social-link-text{
        line-height: 130%;
    }
    .social-link a i{
        font-size: 16px;
    }
    
    footer{
        height: auto;
        align-items: center;
    }
    footer h2{
        font-size: 50px;
    }
    .footer-text{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .feedback{
        padding: 50px;
    }
    .feedback div{
        margin-bottom: 40px;
    }
    .feedback h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .feedback h3::after{
        width: 40px;
        height: 6px;
        top: -15px;
    }
    .feedback a{
        font-size: 24px;
        line-height: 120%;
    }
}